# **Variable**

Variabel merupakan suatu tempat untuk menyimpan data dengan tipe data apapun. Sifatnya case sensitive. Tipe data dasar yaitu integer, float, boolean, dan string.

Integer : Bilangan bulat (0,1,2..)

Float : Berupa bilangan real (desimal)

Bolean : Logical (True dan false)

String : Kumpulan dari beberapa karakter

In [ ]:
answer = 45 #integer 

is_it_thursday = True #boolean 
is_it_thursday = False #boolean 

pi_approx = 3.14 #float (konstanta)

my_name = "Tita" #string

In [2]:
#cara untuk menampilkan variabel 
print(answer)
print (my_name)

#cara mengecek tipe dara dari variabel kita 
x = 4.5 
print(type(x))

<class 'float'>

# **Lists**

**Lists** adalah koleksi yang dipesan dan dapat diubah. Mengizinkan anggota duplikat. 

Intinya : Kumpulan dari elemen - elemen. Tipe Datanya bisa campur. Ditampilkan secara berurutan. Boleh ada duplicate member/element.

In [25]:
my_list = ["banana", "tomato", 34, 5]

**Akses elemen List dan ganti**

In [26]:
print (my_list)

['banana', 'tomato', 34, 5]

Jika ingin menampilkan salah satunya tinggal tambahkan indexnya. Index tidak hanya bisa positif tapi juga bisa negatif. Negatif tandanya dihitung dari belakang.

In [27]:
print(my_list [1])

tomato

In [8]:
print (my_list [-1])

5

Mencantumkan akses dan penggantian elemen

In [9]:
my_list [1] = "Tita"
print(my_list)

['banana', 'Tita', 34, 5]

**Lists** memiliki ukuran yang dinamis dan elemen dapat ditambahkan (disisipkan) ke dalamnya. Bisa menggunakan Inset dan Append. 

**Insert** : Spesifik.

**Append** : Otomatis menambahkan elemen setelah elemen paling akhir.

In [29]:
#my_list.insert(index yang mau di insert, elementnya apa)

my_list.insert(1, "Titu")
print (my_list)

['banana', 'Titu', 'tomato', 34, 5]

In [13]:
#my_list.append(mau ditambah element apa dipaling akhir)

my_list.append(3)
print (my_list)

['banana', 'Titu', 'Titu', 'Tita', 'Tita', 34, 5, 3]

## **Remove List ELements**

1. my_list.remove(element mana yang mau di remove)
2. my_list.pop(index element mana yang mau dihapus)
3. del my_list = bisa based on index atau menghapus semua list 
4. my_list.clear() : untuk menghapus semua list. Variabelnya masih ada tapi elemennya nggk ada

In [30]:
#my_list.remove(element mana yang mau di remove)
my_list.remove ("Titu")
print(my_list)

['banana', 'tomato', 34, 5]

In [15]:
#my_list.pop(index element mana yang mau dihapus
my_list.pop (1)
print(my_list)

['banana', 'Tita', 'Tita', 34, 5, 3]

In [16]:
#del my_list = based on index 
del my_list [2]
print (my_list)

['banana', 'Tita', 34, 5, 3]

In [19]:
#del my_list =  menghapus semua list (Menghapus keseluruhan sampai tidak bisa terdefinisi lagi)
del my_list 
print(my_list)

#hasil running akan eror karena datanya emang nggk ada sudah terhapus

kita dapat mengakses **"irisan"** dari sebuah daftar menggunakan **my_list[i:j]** di mana **i** adalah awal irisan (Sekali lagi, pengindeksan dimulai dari 0) dan **j** adalah akhir irisan. Sebagai contoh :

In [31]:
my_list[1:3]

['tomato', 34]

Menghilangkan indeks kedua berarti irisan harus berjalan sampai akhir daftar

In [33]:
my_list[1:]

['tomato', 34, 5]

kita dapat memeriksa apakah sebuah elemen ada di dalam daftar dengan menggunakan **in**

In [34]:
5 in my_list

True

Panjang daftar dapat diperoleh dengan menggunakan fungsi **len**

In [35]:
len(my_list) #banyaknya elemen

4

# **TUPLE**

**Tuple** adalah sebuah koleksi yang terurut dan **tidak dapat diubah**. Memungkinkan anggota duplikat.

In [39]:
thistuple = ("apple", "banana", "cherry")

Cara untuk mengupdate adalah dengan mengubah tuple ke lists

In [47]:
#membuat variabel baru 
y = list(thistuple)
y [1] = "Orange"
thistupple = tuple(y)
print(thistuple)

['apple', 'Orange', 'cherry']

# **Strings**

**Strings** adalah kumpulan dari karakter. **String** digunakan untuk menyimpan teks. Mereka dapat dibatasi dengan menggunakan tanda kutip tunggal atau tanda kutip ganda. String bisa dimanipulasi/dioperasikan seperti tipe data yang lain. String bisa di gabungkan.

In [50]:
String1 = 'some text'
String2 = 'some other text'

 **String** berperilaku mirip dengan **list**. Dengan demikian, kita dapat mengakses setiap elemen dengan cara yang sama persis.

In [51]:
String1[4]

' '

dan juga untuk irisan

In [52]:
String1 [5:7]

'te'

Penggabungan string dilakukan dengan menggunakan operator **+**

In [53]:
String1 + " " + String2

'some text some other text'

In [54]:
String1 + String2

'some textsome other text'

# **Operasi Aritmatika**

Python mendukung operator aritmatika biasa: + (penjumlahan), * (perkalian), / (pembagian), ** (pangkat), // (pembagian bilangan bulat).
Regular Division (/ pembagian) : hasil sesuai 
Integer Division (// pembagian) : hasilnya akan dibulatkan

1. Operator Perbandingan
 >,<, == (setara), >=, <=

2. Operator Logical
  
       and or not != 

3. Assigment Operator 

    += : +=1 (i = i+1)
    -= : -=1 (i = i-1)

In [56]:
num1 = input('angka pertama = ')
num2 = input('angka kedua = ')

angka pertama = 5
angka kedua = 2

In [59]:
#operasi penjumlahan 
sum = int(num1) + int(num2)
print(sum)
#f strings digunakan untuk menyematkan variabel ke dalam string

7

In [60]:
#jika ingin menampilan num1 dan num2 dalam display 
sum = int(num1) + int(num2)
print(f'Hasil {num1} + {num2} = {sum}')

Hasil 5 + 2 = 7

In [61]:
#Operasi pengurangan 
sum = int(num1) - int(num2)
print(sum)

3

In [62]:
#Operasi Perkalian 
sum = int(num1) * int(num2)
print(sum)

10

In [63]:
#Operasi Perpangkatan 
pow = int(num1) ** int(num2)
print(sum)

25

In [64]:
#Operasi Pembagian
div = int(num1) / int(num2)
print(sum)

2.5

In [65]:
#Operasi Pembagian
integer_div = int(num1) // int(num2)
print(sum)

2

# **Conditionals**

Seperti yang ditunjukkan oleh namanya, **Conditionals** adalah cara untuk mengeksekusi kode tergantung pada apakah suatu kondisi bernilai **True** atau **False**. Seperti dalam bahasa lain, Python mendukung **if** dan **else** but **else if** yang dikontruksikan menjadi **elif**, seperti yang ditunjukkan contoh di bawah ini :

In [70]:
my_variable = 5
if my_variable < 0:
   print("negative")
elif my_variable == 0:
   print("null")
else: #my_variable > 0
   print("positive")

positive

Disini **<** dan **>** adalah operator kurang dari dan lebih besar dari, sedangkan **==** adalah operator penyetaraan (jangan disamakan dengan =, operator penugasan variabel). Operator **<=** dan **>=** dapat digunakan untuk perbandingan kurang (resp, lebih besar) dari atau sama dengan.

Berlawanan dengan bahasa lain, blok kode dibatasi dengan menggunakan lekukan. Di sini, kami menggunakan indentasi 2 spasi, tetapi banyak programmer juga menggunakan indentasi 4 spasi. Salah satu dari keduanya tidak masalah selama konsisten di seluruh kode.

In [72]:
a = 200
b = 33
c = 500
if a > b or c < a:
  print("conditions are True")

conditions are True

# **LOOPS (Perulangan)**

**Perulangan** adalah cara untuk mengeksekusi blok kode beberapa kali. Ada dua jenis utama perulangan: **While Loops** dan **For Loops**.

## **While Loops**

Sudah memasang kondisi lalu dieksekusi

In [73]:
i = 0 
while i < len(my_list):
  print(my_list[i])
  i += 1 #assigment operator equivalent to i = i+1

banana
tomato
34
5

## **For Loops**

Cara penulisan

In [75]:
for i in range(len(my_list)):
  print(my_list[i])

banana
tomato
34
5

Jika tujuannya hanya untuk melek huruf pada sebuah **Lists**, Dapat melakukannya secara langsung sebagai berikut :

In [77]:
for element in my_list:
  print(element)

banana
tomato
34
5

In [78]:
for x in range(6):
  print(x)
else :
  print ("Finally finished!")

0
1
2
3
4
5
Finally finished!

# **FUNCTIONS**

Untuk meningkatkan keterbacaan kode adalah hal yang umum untuk memisahkan kode ke dalam blok yang berbeda, yang bertanggung jawab untuk melakukan tindakan yang tepat: fungsi. Sebuah fungsi mengambil beberapa masukan dan memprosesnya untuk menghasilkan beberapa keluaran.

Intinya : Blok kode yang akan berjalan ketika fungsinya dipanggil.

In [79]:
def my_function():
  print("Hello from a function")

Cara memanggil function

In [80]:
my_function()

Hello from a function

In [83]:
#Function dengan argument
def square(x):
  return x ** 2

def multiply(a,b):
  return a * b

  #function can be composed 
  square(multiply(3,2))

Untuk meningkatkan keterbacaan kode, terkadang berguna untuk menamai argumen secara eksplisit

In [82]:
square(multiply(a=3, b=2))

36